<!--
   built a new administration panel 

  


-->
<!DOCTYPE html>
<html lang="en-us" dir="ltr"><head>
<title>Site administration | Django site admin</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">

  <link rel="stylesheet" type="text/css" href="/static/admin/css/nav_sidebar.css">
  <script src="/static/admin/js/nav_sidebar.js" defer=""></script>

<link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css">



    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
    

<meta name="robots" content="NONE,NOARCHIVE">
<style type="text/css">@font-face { font-family: Roboto; src: url("chrome-extension://mcgbeeipkmelnpldkobichboakdfaeon/css/Roboto-Regular.ttf"); }</style></head>

<body class=" dashboard" data-admin-utc-offset="0">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    
    <div id="header">
        <div id="branding">
        
<h1 id="site-name"><a href="/admin/">Site Administration</a></h1>

        </div>
        
        
        <div id="user-tools">
            
                Welcome,
                <strong>msi</strong>.
            
            
                
                    <a href="/">View site</a> /
                
                
                    
                    
                
                
                <a href="/admin/password_change/">Change password</a> /
                
                <a href="/admin/logout/">Log out</a>
            
        </div>
        
        
        
    </div>
    
    <!-- END Header -->
    
    

    <div class="main" id="main">
      
        
      
      <div class="content">
        
          
        
        <!-- Content -->
        <div id="content" class="colMS">
          
          <h1>Site administration</h1>
          
          
<div id="content-main">
  


  
    <div class="app-accounts module">
      <table>
        <caption>
          <a href="/admin/accounts/" class="section" title="Models in the Accounts application">Accounts</a>
        </caption>
        
          <tbody><tr class="model-accountuser">
            
              <th scope="row"><a href="/admin/accounts/accountuser/">Account users</a></th>
            

            
              <td><a href="/admin/accounts/accountuser/add/" class="addlink">Add</a></td>
            

            
              
                <td><a href="/admin/accounts/accountuser/" class="changelink">Change</a></td>
              
            
          </tr>
        
      </tbody></table>
    </div>
  
    <div class="app-auth module">
      <table>
        <caption>
          <a href="/admin/auth/" class="section" title="Models in the Authentication and Authorization application">Authentication and Authorization</a>
        </caption>
        
          <tbody><tr class="model-group">
            
              <th scope="row"><a href="/admin/auth/group/">Groups</a></th>
            

            
              <td><a href="/admin/auth/group/add/" class="addlink">Add</a></td>
            

            
              
                <td><a href="/admin/auth/group/" class="changelink">Change</a></td>
              
            
          </tr>
        
          <tr class="model-user">
            
              <th scope="row"><a href="/admin/auth/user/">Users</a></th>
            

            
              <td><a href="/admin/auth/user/add/" class="addlink">Add</a></td>
            

            
              
                <td><a href="/admin/auth/user/" class="changelink">Change</a></td>
              
            
          </tr>
        
      </tbody></table>
    </div>
  
    <div class="app-mysite module">
      <table>
        <caption>
          <a href="/admin/mysite/" class="section" title="Models in the Mysite application">Mysite</a>
        </caption>
        
          <tbody><tr class="model-orderitem">
            
              <th scope="row"><a href="/admin/mysite/orderitem/">Order items</a></th>
            

            
              <td><a href="/admin/mysite/orderitem/add/" class="addlink">Add</a></td>
            

            
              
                <td><a href="/admin/mysite/orderitem/" class="changelink">Change</a></td>
              
            
          </tr>
        
      </tbody></table>
    </div>
  


</div>

          
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>Recent actions</h2>
        <h3>My actions</h3>
            
            
            
            <p>None available</p>
            
    </div>
</div>

          <br class="clear">
        </div>
        <!-- END Content -->
        <div id="footer"></div>
      </div>
    </div>
</div>
<!-- END Container -->


</body></html>